*.suo
Backup/
*.user
/*/bin/**
/*/obj/**
/SevenZip/UpgradeLog.htm
/SevenZip/.vs/**
.vs/**
/packages/**
/[Ss]tage/**
/TestResult.xml
/coverage.xml


.idea
.idea/
.idea/*
.idea/.idea.SevenZip/.idea/workspace.xml
